*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
#home{
    background-color: rgb(255, 255, 255);
}
nav{
   background-color: rgb(255, 255, 255);
   color: black; 
   min-height: 100px;
   position: relative;
   width: 100%;
   display: flex;
   padding: 20px 8%;
   border-bottom: 4px solid red;
}
#logo{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

ul{
    flex: 1;
    text-align: right;
}
nav ul li {
display: inline-block;
margin: 0 20px;
list-style: none;
}
nav ul li a{
    
text-decoration: none;
}